@import "tailwindcss";


@layer components {
	.MainTitle {
		@apply text-4xl text-purple-600 font-extrabold;
	}

	.SubTitle {
		@apply text-2xl font-bold text-white;
	}

	.MainText {
		@apply text-white;
	}

	.ProjectTitle {
		@apply text-center font-bold text-white;
	}

	.PageImg {
		@apply w-1/2;
	}

	.PageContentSection {
		@apply my-10 bg-gray-800 rounded-[10px];
	}

	.CodeWindow {
		@apply overflow-auto rounded-[10px] pr-2 pl-2 bg-linear-135 from-purple-900 to-blue-950 to-90%;
	}
}

/*TODO: Remove outdated/unused classes*/

body {  
	margin: 0;
	background-color: #040303;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	color: #ffffff;
	@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");
	font-family: Oswald, sans-serif;
}

p {
	margin-top: 2px;
	margin-bottom: 10px;
}

body.frontpage {
	background-image: url("../images/FroneBG2021.png");


}

html {
	scroll-behavior: smooth;
}

div.emptydiv {
	height: 50vh;
	width: auto;
}

ul.topnav {	
    list-style-type: none;
	text-align: center;
	top: 0;
	position: sticky;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(29, 29, 29, 0.7);
	width: 100%;
	z-index: 500;

}

video.PageVideo {
	width: 100%;
	margin-top: 5px;
	margin-bottom: 5px;
}

ul.topnav a {
	transition: background-color 0.2s ease-in-out;
    display: block;
	float: left;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	z-index: 10;
}

ul.topnav a:hover:not(.active) {
	background-color: #BF00CD;
	color: #ffffff;
}

ul.topnav a:active {
	background-color: #00cd55;
	color: #ffffff;
}

div.CodeWindowLB {
	float: center;
	height: 100%;
	text-align: left;
	overflow:  scroll;
	width: 100%;
	}
p {
	text-align: left;
}

div.WorksFlex {
	display: flex;
	justify-content: center;
	width: 100%;
	flex-direction: row;
	flex-wrap: wrap;
}

div.ProjectDisplay {
	width: 500px;
	height: auto;
	align-content: center;
	margin: 20px;
	padding: 10px;
	background-color: #16213E;
	border-radius: 10px;
}

div.ProjectTitleContainer {
	background-color: #000000a8;
	position: absolute;
	bottom: 0;
	width: 100%;
	pointer-events: none;
}

.projectImgContainer {
	width: 480px;
	height: 400px;
	overflow: hidden;
	position: relative;
	border-radius: 5px;
}

img.ProjectImg {
	object-position: center;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform .4s ease-in-out;
	transition-duration: 1s;
}

img.ProjectImg:hover{ 
	transform: scale(1.2);
	cursor: pointer;
	transition-duration: 1s;
}


div.contentlarge {

	float:center;
	overflow:hidden;
	display: block;
	width: 100%;
	padding: 30px;
	height: auto;
}


img.imgleft {
	height: 25vh;
	float:left;	
}

img.imgright {
	height: 25vh;
	float:right;	
}

img.imgContact {
	height: 5vh;
}

pre.Preview{
	height: 40pc;
	background-color: #1e1e1e;
	overflow: scroll;
}

pre.CodeLightBox{
	height: 100%;
	text-align: left;
	overflow: scroll;
}

img.toplogo1 {
	position: relative;
	top: 3px;
	left: 10%;
	margin: 0;
	display: block;
	width: 20%;
	height: 20%;
}


img.toplogo2 {
	position: relative;
	top: 3px;
	left: -45%;
	margin: 0;
	display: block;
	width: 20%;
	height: 20%;
}

img.postpicture {
	width: 40%;
	transition: width 0.7s ease-out;
}

img.postpicture:hover {
	width: 90%;
}

a.previewLink {
	text-decoration: none;
	color: #ffffff;
}

a.previewLink :hover {
	text-decoration: none;
	color: #ffffff;
}

#unity-container { position: absolute }
#unity-container.unity-desktop { left: 50%; top: 50%; transform: translate(-50%, -50%) }
#unity-container.unity-mobile { position: fixed; width: 100%; height: 100% }
#unity-canvas { background: #231F20 }
.unity-mobile #unity-canvas { width: 100%; height: 100% }
#unity-loading-bar { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); display: none }
#unity-logo { width: 154px; height: 130px; background: url('unity-logo-dark.png') no-repeat center }
#unity-progress-bar-empty { width: 141px; height: 18px; margin-top: 10px; margin-left: 6.5px; background: url('progress-bar-empty-dark.png') no-repeat center }
#unity-progress-bar-full { width: 0%; height: 18px; margin-top: 10px; background: url('progress-bar-full-dark.png') no-repeat center }
#unity-footer { position: relative }
.unity-mobile #unity-footer { display: none }
#unity-logo-title-footer { float:left; width: 102px; height: 38px; background: url('unity-logo-title-footer.png') no-repeat center }
#unity-build-title { float: right; margin-right: 10px; line-height: 38px; font-family: arial; font-size: 18px }
#unity-fullscreen-button { cursor:pointer; float: right; width: 38px; height: 38px; background: url('fullscreen-button.png') no-repeat center }
#unity-warning { position: absolute; left: 50%; top: 5%; transform: translate(-50%); background: white; padding: 10px; display: none }