body {  
	margin: 0;
	background-color: #040303;
	background-image: url("../images/background.png");
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	color: #ffffff;
	text-align: center;
	font-family: Arial, Sans-serif;
}

ul.topnav {	
    list-style-type: none;
	text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.topnav li {
	float: left; 
	}

ul.topnav li a {
	transition: background-color 0.5s ease-in-out;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
	background-color: #0e0e0e;
	}

ul.topnav li a.active {
	background-color: #ffd400;
	color: #000000;
	}

div.contentleft {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right:0 auto;
    margin-left:0 auto;
	left: 25%;
	float:center;
	overflow:auto;
	border: 16px solid #333;
	background-color: #333;
	text-align: left;
	position: relative;  
	width: 50%;
	height: 300px;
}



div.contentright {
	margin-top: 20px;
    margin-bottom: 20px;
    margin-right:0 auto;
    margin-left:0 auto;
	left: 25%;
	float:center;
	overflow:auto;
	border: 16px solid #333;
	background-color: #333;
	text-align: right;
	position: relative;  
	width: 50%;
	height: 300px;
}

div.contentlarge {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right:0 auto;
    margin-left:0 auto;
	left: 25%;
	float:center;
	overflow:auto;
	border: 16px solid #333;
	background-color: #333;
	text-align: left;
	position: relative;  
	width: 50%;
	height: auto;
}

img.imgleft {
	height: 100%;
	float:left;	
}

img.imgright {
	height: 100%;
	float:right;	
}



img.toplogo1 {
	position: relative;
	top: 3px;
	left: 10%;
	margin: 0;
	display: block;
	width: 20%;
	height: 20%;
}


img.toplogo2 {
	position: relative;
	top: 3px;
	left: -45%;
	margin: 0;
	display: block;
	width: 20%;
	height: 20%;
}

img.postpicture {
	width: 40%;
	transition: width 0.7s ease-out;
}

img.postpicture:hover {
	width: 90%;
}

a:link, a:visited {
	color: #ffffff;
	text-decoration: underline;
}
							
a:link:active, a:visited:active, a:hover {
	color: #000000;
}